*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#050505;
    color:white;
    font-family:monospace;
}
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:25px 50px;

    border-bottom:1px solid #222;
}
.logo{
    font-size:24px;
    letter-spacing:4px;
}
.nav-links{
    font-size: 16px;
    display:flex;
    gap:20px;
}
.nav-links button{

    background:transparent;

    color:white;

    border:1px solid #333;

    padding:12px 24px;

    cursor:pointer;
}
.nav-links button:hover{
    border-color:white;
}
.nav-icon{
    font-size:20px;
    color:#777;
}
.stats{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    border-bottom:1px solid #222;
}
.stat-box{

    padding:40px;

    text-align:center;

    border-right:1px solid #222;
}
/*pseudo selector hai its for like neatness to remove the righmost boardline*/
.stat-box:last-child{
    border-right:none;
}
.stat-box h1{

    font-size:52px;

    font-weight:500;

    margin-bottom:10px;
}
.stat-box p{

    color:#666;

    letter-spacing:3px;

    font-size:12px;
}
.filters{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:30px 50px;

    border-bottom:1px solid #222;
}
.filter-group{

    display:flex;

    align-items:center;

    gap:14px;
}
.filter-title{

    color:#666;

    letter-spacing:3px;

    font-size:13px;
}
.filter-btn{

    background:transparent;

    color:white;

    border:1px solid #333;

    padding:10px 18px;

    cursor:pointer;

    transition:0.2s ease;
}
.typing-section{

    padding:40px 50px;
}
.typing-box{

    display:flex;

    gap:30px;

    background:#0b0b0b;

    border:1px solid #222;

    padding:40px;

    min-height:300px;
}
.line-numbers{

    display:flex;

    flex-direction:column;

    gap:20px;

    color:#555;

    font-size:18px;
}
.code-area{

    display:flex;

    flex-direction:column;

    gap:20px;

    font-size:20px;

    line-height:1.8;

    color:#d4d4d4;
}
.typed{
    color:white;
}

.active-letter{

    border-left:2px solid white;

    animation:blink 1s infinite;
}
@keyframes blink{

    50%{
        border-color:transparent;
    }
}